.openModalBtn {
    width: 140px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(40, 118, 243);
    color: rgb(208, 255, 210);
    font-weight: 300;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.openModalBtn:hover {
    background-color:rgb(4, 93, 237);
}

.openModalCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}