.declineBtn{
    background-color: white;
    padding: 10px 30px;
    border: 2px solid grey;
    border-radius: 7px;
    color: #8A33FD;
     font-family: "Roboto", sans-serif;
     font-weight: 500;
  }
  
  .declineBtn:hover {
    background-color: rgb(236, 233, 233);
  }