* {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #1A1B1B;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: 36px;
    margin-right: 36px;
}

.right-part-of-nav-menu {
    display: flex;
    gap: 104px;
}

.left-part-of-nav-menu {
    display: flex;
    gap: 44px;
    align-items: center;
}

.name-of-site {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0.64px;
    font-family: 'Quicksand';
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}



.dropbtn {
    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
    background: #0F8277;
    display: flex;
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-style: none;
}

.dropbtn::after {
    content: url(../images/Frame\ 1.jpg)
}


.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    border-radius: 4px;

}

.search-place {
    width: 330px;
    color: #5C5C5C;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
}

.search-label {
    background: #0F8277;
    padding: 10px;
}

.common-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%
}

.login-buttons {
    padding: 10px 12px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.login-btn {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: #0F8277;
}

.Singin-btn {
    color: #EEE;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
    background: #0F8277;
    padding: 10px 12px;
    justify-content: center;
    border-style: none;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: #DBF3ED;
    width: auto;
    height: 602px;
    margin: 36px;
    padding-left: 110px;
    padding-right: 32px;

}

.main-banner-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 32px;
}

.banner-title {
    font-size: 56px;
    font-family: Quicksand;
    font-weight: 700;
    line-height: 120%;
}

.banner-title-comment {
    font-family: Quicksand;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    width: 482px;
}

.banner-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.start-btn {
    padding: 10px 12px;
    align-items: center;
    background: #0F8277;
    color: #EEE;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border: none;
    border-radius: 4px;
}

.know-more-btn {
    border: 2px solid #0F8277;
    padding: 10px 12px;
    color: #0F8277;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    border-radius: 4px;
}

.banner-photo {
    padding-right: 32px;
}

.text-of-chapters-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    margin-left: 36px;
    margin-top: 80px;
}

.text-of-chapters {
    color: #0F8277;
    font-size: 20px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 40px;
}

.h2-text {
    font-size: 40px;
    font-weight: 700;
    line-height: 120%;
}

.added-chapter-text {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
}

.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-left: 36px;
}

.card-container {
    width: 405px;
    height: 480px;
    margin-top: 40px;
    border: 1px solid rgb(227, 222, 222);
    border-radius: 8px;
    position: relative;
}

.main-card-picture {
    width: 405px;
    height: 270px;
    border-radius: 3px;
}

.text-in-card-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 24px 16px;
    gap: 16px;
}


.university-logo-and-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    white-space: nowrap;
}

.h3-text {
    font-size: 24px;
    font-weight: 700;
    line-height: 120%;
}

.student-hat-icon-container {
    display: flex;
    position: absolute;
    left: 16px;
    bottom: 24px;
    gap: 12px;
    color: #0F8277;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.smaller-cards-container {
    width: 298px;
}

.smaller-main-card-picture {
    width: 298px;
}



/* .see-more::after {
    content: url(../images/arrow.jpg);
    position: absolute;
    top: 3px;
    left: 136px;
} */

.topics-by-category {
    margin-left: 36px;
    margin-right: 36px;
}

.branches {
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: flex-start;
}

.topic {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    margin-top: 40px;
    margin-bottom: 40px;

}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-bottom: 83px;
    margin-top: 40px;
}

.see-more span {
    color: #0F8277;
}

.brands-logo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #DBF3ED;
    padding: 80px 36px;
    gap: 60px;
    margin-bottom: 80px;
}

.brands-logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.h2-text-long {
    width: 871px;
    text-align: center;
}

.info-business-we-work-container {
    display: flex;
    align-items: center;
    gap: 72px;
    justify-content: space-around;
}

.info-business-we-work-container-text {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 32px;
    width: 636px;
}

.main-business-we-work-info-text {
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 176px);
    grid-template-rows: repeat(3, 116px);
    margin-bottom: 70px;
}

.grid-item {
    box-sizing: border-box;
    display: grid;
    justify-content: center;
    align-items: center;

}

.grid-item-1 {
    border-left: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}


.grid-item-2 {
    border-left: none;
}

.grid-item-3 {
    border-bottom: none;
}

.plan-cards-container-with-title {
    background-color: #DBF3ED;
    box-sizing: border-box;
    padding-top: 80px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 100px;
}

.plan-cards-container-with-title .h2-text {
    display: flex;
    justify-content: center;

}

.cards-title {
    margin-bottom: 40px;
}

.plan-cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.plan-card {
    width: 416px;
    height: 698px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    box-sizing: border-box;
    padding: 56px;

}

.top-of-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-bottom: 75px;
}

.top-of-card span {
    display: flex;
    text-align: center;
}

.price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.start-card-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-line {
    border-radius: 80px;
    background: #0F8277;
    height: 2px;
    align-self: stretch;
    margin-top: 48px;
    margin-bottom: 48px;
}

.bottom-of-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 16px;

}

.bottom-of-card div {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 16px;
}

.top-of-right-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 27px;
    margin-bottom: 46px;
    text-align: center;
}

.top-of-central-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 27px;
}

.top-of-central-card span {
    display: flex;
    text-align: center;
}

.central-plan-card {
    background: #0F8277;
}

.central-plan-card span {
    color: #FFF;
}

.central-plan-card h2 {
    color: #FFF;
}

.central-plan-card .card-line {
    background: #FFF;
}

.central-start-btn {
    border: 2px solid #FFF;
}

.grid-photos-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: start;

    grid-template-areas:
        "item1 item2 item2 item3"
        "item4 item2 item2 item5"
        "item6 item7 item8 item9"
    ;

}

.item-1 {
    grid-area: item1;
}

.item-2 {
    grid-area: item2;
}

.item-3 {
    grid-area: item3;
}

.item-4 {
    grid-area: item4;
}

.item-5 {
    grid-area: item5;
}

.item-6 {
    grid-area: item6;
}

.item-7 {
    grid-area: item7;
}

.item-8 {
    grid-area: item8;
}

.item-9 {
    grid-area: item9;
}

.photos-title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.grid-photos-container-with-title {
    margin-top: 80px;
    margin-bottom: 76px;
}

.form {
    box-sizing: border-box;
    padding-top: 65px;
    padding-bottom: 40px;
    background: no-repeat;
    background-image: url(../images/image\ 32.png);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    padding: 30px;
    box-sizing: border-box;
    border-radius: 24px;
    background: #DBF3ED;
    width: 565px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.form-container span {
    text-align: center;
}

.input-container label {
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
}


.input-container input {
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    display: flex;
    min-width: 500px;
    padding: 12px;
    align-items: flex-start;
    margin-top: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
}

.input-container input::placeholder {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.form-title {
    margin-left: 145px;
}

.bigger-area {
    border-radius: 4px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    min-width: 500px;
    resize: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 12px;
    margin-top: 8px;
}

.send-btn {
    min-width: 196px;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 64px 36px;
}

.left-part-of-footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 306px;
}

.right-part-of-footer {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.footer p {
    font-family: Quicksand;
    font-size: 16px;
    font-weight: 500;
    line-height: 120%;
}

.footer span {
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
}

.social-network-logo-container {
    display: flex;
    gap: 24px;
    justify-content: flex-end;
}


.instagram-logo {
    width: 32px;
    height: 32px;
    background-image: url(../images/logo-instagram.png);
}

.facebook-logo {
    width: 32px;
    height: 32px;
    background-image: url(../images/lono-facebook.png);
}

.linkedin-logo {
    width: 32px;
    height: 32px;
    background-image: url(../images/logo-linkedin.png);
}