* {
    font-family: 'Cabin', sans-serif;
    font-family: 'Rochester', cursive;
    cursor: default;
    text-decoration: none;
}

.headers {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.body {
    margin-top: 140px;
    background: #EEEEEF;
}

.dark-mode {
    background-color: darkblue;
    color: #fff;
}

.dark-mode .top-header {
    background-color: darkorange;
}

.dark-mode .title {
    color: white;
}

.top-header {
    display: flex;
    justify-content: space-between;
    background-color: #10BBD5;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 700;
    padding: 16px 52px;
}

.top-logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.cart {
    display: flex;
    align-items: center;
    gap: 8px;

}

.cart button {
    outline: none;
    border: 0;
    background: transparent;
}


.cart img {
    position: relative;
}

.cart-number {
    color: #000;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    position: absolute;
    right: 70px;
    top: 29px;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    padding: 4px 52px;
    color: #000;
    background-color: white;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.navigation-menu ul {
    display: flex;
    gap: 40px;
}


.title {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #A8A8A8;
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-left: 52px;
    margin-right: 52px;
    margin-top: 30px;
    margin-bottom: 23px;
    padding-bottom: 23px;
    position: relative;
    margin-bottom: 40px;
}


.card {
    display: inline-flex;
    flex-direction: column;
    padding: 32px;
    margin-left: 52px;
    margin-bottom: 30px;
    border: 1px solid gray;
    background: white;

}

.cards {
    margin-bottom: 130px;
}

.book-picture {
    width: 178px;
    height: 280px;
    box-sizing: border-box;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 16px;
}

.name-of-book {
    overflow: hidden;
    color: var(--black, #1F1F1F);
    text-overflow: ellipsis;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    width: 242px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #A8A8A8;
}

.chips {
    display: flex;
    padding: 4px 8px;
    gap: 10px;
    border-radius: 4px;
    background: #4200FF;
    color: #F8FDFE;
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: auto;
    position: absolute;
}

.name-of-author {
    display: flex;
    width: 241px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    text-overflow: ellipsis;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;

}

.price {
    color: #E90000;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 16px;
}

.add-to-basket {
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    background: var(--eggplant, #4C394E);
    border: none;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}



.chat-icon {
    position: fixed;
    outline: none;
    border: 0;
    background: transparent;
    top: 600px;
    right: 40px;
}

.hidden-text {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.end-up {
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    background: #4D762D;
}

.sale {
    display: flex;
}

.old-price {
    color: var(--gray, #8E8E8E);
    font-family: Cabin;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    text-decoration-line: line-through;
    margin-left: 24px;
}

.added-sale-chips {
    margin-left: 40px;
    background-color: #EA33C0;
}

.bigger-margin {
    margin-left: 51px;
}

.new-chips {
    background-color: #AF39E7;
}
.separate-sale-chips {
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C394E;
    color: var(--white, #F8FDFE);
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    height: 88px;
    box-sizing: border-box;
    padding: 52px;
}