.modal-close {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
  }

  .modal-cross {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
  }