.page-header-btns {

    @media (min-width: 1200px) {
        background: #202020;
        width: 100%;
        height: 92px;
        margin-top: -7px;
        opacity: 1;
    }

    &--hidden {
        @media (min-width: 1200px) {
            display: none;
        }
    }
}

.page-header__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 768px) {
        padding: 38px 34px ;
    }
    @media (min-width: 1200px) {
        padding: 41px 191px;
        position: fixed;
        z-index: 50;
    }
}

.header-hope {
    @media (min-width: 1200px) {
        content: url(../../images/Hope.svg);
        background: #202020;
    }
}