.page-cards {
    background: #3C3C3C;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        gap: 102px;
    }

    @media (min-width: 1200px) {
        gap: 63px;
    }
}

.page__cards {
    padding-top: 52px;
    padding-bottom: 63px;
}

.page-cards-top {
    border-radius: 24px;
    background: #FFFEF2;
    box-sizing: border-box;
    padding: 16px;
    width: 343px;


    @media (min-width: 768px) {
        width: 703px;
        padding: 16px;
    }

    @media (min-width: 1200px) {
        width: 1050px;
    }

    &--bigger-margins {
        margin-top: 63px;
        box-sizing: border-box;
        margin-bottom: 85px;
        max-width: 343px;

        @media (min-width: 768px) {
            margin: 0;
        }
    }

    &--hidden1 {
        display: none;

        @media (min-width: 768px) {
            display: block;
            max-width: 328px;
        }
    }
}

.page-cards__top {
    &--hidden2 {
        display: none;

        @media (min-width: 1200px) {
            display: block;
            max-width: 325px;
        }
    }
}


.page-cards-top__images-continer {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 22px;
}

.page-cards-top__text-continer {
    gap: 22px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.cards-bottom {
    background: #202020;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}