.page-header-btns {
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.page-course-info {
    background: #202020 no-repeat;
    background-image: url(../../images/Group\ 5.png);
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: 768px) {
        background-image: url(../../images/Group\ 4.png);
        background-size: auto;
        background-position: left;
    }

    @media (min-width: 1200px) {
        background-position: right;
    }
}

.page__course-info {
    box-sizing: border-box;
    padding: 72px 16px 76px 17px;

    @media (min-width: 768px) {
        padding-left: 33px;
    }
    @media (min-width: 1200px) {
        padding-left: 191px;
    }
}

.page-course-info-statistic {
    display: flex;
    gap: 14px;
}

.page-course-info-statistic__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.page-slogan-container {
    background: no-repeat;
    background-image: url(../../images/Rectangle\ 8.png);
    background-size: 768px 498px;
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 768px) {
        background-image: url(../../images/rectangle8-1.png);
        background-size: 1200px 800px;
    }
    @media (min-width: 1200px) {
        background-image: url(../../images/Rectangle\ 8-2.png);
        background-size: 100%;
    }
}

.page-cards-flex-container {

    @media (min-width: 768px) {
        display: flex;
        justify-content: flex-start;
        gap: 40px;
        margin-top: 102px;
        margin-bottom: 122px;
    }
}

.page-cards {
    
    @media (min-width: 768px) {

        &--flex-container-bottom {
            display: flex;
            justify-content: flex-start;
            gap: 36px;
            padding-top: 26px;
        }
    }
}
