.page-footer {
    background: #202020;
    color: #fff;
    margin-top: -41px;
    box-sizing: border-box;
}

.page-footer-flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 65px;
    gap: 20px;
}

.page-footer-link-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 139px;
    border: 1px solid var(--Gray-6, #F2F2F2);
    color: #fff;
}

.page-footer__link-container {
   min-width: 320px;
   height: 72px;

   @media (min-width: 768px) {
    min-width: 714px;
   height: 150px;
}
}

.page-footer-link-container-arrow {
    display: flex;
    align-items: center;
    gap: 24px;
}

.page-footer-link-container-spans {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.page-footer-social-media-container {
    display: flex;
    gap: 34px;
}

.page-footer__social-media-container {
    padding-top: 80px;
    padding-bottom: 21px;
}

.page-footer__copyright-span {
    font-size: 14px;
}

.footer-img-link {
    @media (min-width: 768px) {
        width: 108px;
        height: 108px;
    }
}