.cards-bottom-title {
    color: #FFF;
    font-family: DynaPuff;
    font-size: 36px;
    font-weight: 700;
    box-sizing: border-box;
    padding-top: 58px;
    padding-bottom: 45px;

    @media (min-width: 768px) {
     font-size: 80px;
    }
}

.cards-bottom__title {
    margin: 0;
}