.page-cards-top-images-continer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

.page-cards__img {
    padding-bottom: 20px;

    @media (min-width: 768px) {
        content: url(../../images/Group\ 9.png);
    }

    @media (min-width: 1200px) {
        content: url(../../images/Group\ 10.png);
    }
}

.page-cards__img2 {

    @media (min-width: 768px) {
        content: url(../../images/Frame\ 18.png);
    }

    @media (min-width: 1200px) {
        content: url(../../images/Frame\ 18\ \(1\).png);
    }
}

.page-cards__img3 {
    @media (min-width: 768px) {
        content: url(../../images/Frame\ 19.png);
    }

    @media (min-width: 1200px) {
        content: url(../../images/Frame\ 19\ \(1\).png);
    }
}

.page-cards__img4 {
    @media (min-width: 1200px) {
        content: url(../../images/moon.png);
    }
}

.cards-bottom-container-2__img1 {
    padding-bottom: 32px;

    @media (min-width: 1200px) {
        width: 514px;
        height: 414px;
    }
}

.images-continer {
    &--relative-card-1 {
        position: relative;
    }
}

.page-cards-arrow1 {
    position: absolute;
}

.images-continer {
    &--relative-card-2 {
        position: relative;
    }
}

.page-cards-arrow2 {
    position: absolute;

}

.page-cards__arrow {
    top: 17px;
    right: 13px;
}

.cards-bottom-container-1 {
    position: relative;
}

.cards-bottom-img {
    width: 343px;
    height: 325px;

    @media (min-width: 768px) {
        width: 704px;
        height: 414px;
    }

    @media (min-width: 1200px) {
        width: 1055px;
        height: 414px;
    }
}

.cards-bottom-container-1::before {
    content: url(../../images/Soft\ Star.png);
    display: block;
    position: absolute;
    top: 77px;
    left: 86px;

    @media (min-width: 768px) {
        top: 130px;
        left: 270px;
    }

    @media (min-width: 1200px) {
        top: 140px;
        left: 450px;
    }
}

.cards-bottom-container-2 {
    position: relative;
}

.cards-bottom-container-2::before {
    content: url(../../images/Butterfly.svg);
    display: block;
    position: absolute;
    top: 105px;
    left: 104px;

    @media (min-width:1200px) {
        top: 134px;
        left: 190px;
    }
}

.cards-bottom-container-3 {
    position: relative;

    &--bigger-padding {
        padding-bottom: 93px;
    }
}

.cards-bottom-container-3::before {
    content: url(../../images/Asterisk\ 1.svg);
    display: block;
    position: absolute;
    top: 91px;
    left: 98px;

    @media (min-width:1200px) {
        top: 134px;
        left: 180px;

    }
}