.page-header-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    display: none;

    @media (min-width:1200px) {
        display: flex;
    }
}

.page-header-nav-item {
    color: #fff;
    color: #FFF;
    font-family: Manrope;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid #FFF;
    padding: 10px 16px;
}