.page-course-info-title {
    color: #FAEB49;
    font-family: DynaPuff;
    font-size: 36px;
    font-weight: 700;
}

.page-course-info-main {
    font-size: 15px;
    max-width: 500px;
}

.Statistic-items {
    &--Dyna-puff-font {
        font-family: DynaPuff;
        font-size: 36px;
    }
}

.page-cards-main-text {
    font-size: 15px;
    font-weight: 700;
    max-width: 524px;

    &--Dyna-puff-font {
        color: #565656;
        font-family: DynaPuff;
        font-size: 32px;
        font-weight: 600;
    }

    @media (min-width: 768px) {
        font-size: 16px;
     }

}

.page-slogan-text {
    color: #FFF;
    text-align: center;
    font-family: DynaPuff;
    font-size: 24px;
    font-weight: 700;

    @media (min-width: 768px) {
        font-size: 48px;
    }
}

.page-slogan__text {
    padding-top: 180px;
    padding-bottom: 173px;
    box-sizing: border-box;

    @media (min-width: 1200px) {
      max-width: 1059px;
    }
}

.page-footer-link-font {
    font-family: DynaPuff;
    font-size: 20px;
    font-weight: 700;

    @media (min-width: 768px) {
        font-size: 48px;
    }
}