.page-title {
    color: #FFF;
    font-family: DynaPuff;
    font-size: 48px;
    font-weight: 700;

    @media (min-width: 768px) {
        max-width: 521px;
        font-size: 80px;
    }
    @media (min-width: 1200px) {
        max-width: 1300px;
    }
}

.page__title {
    display: block;
    box-sizing: border-box;
    padding: 412px 21px 149px 28px;

    @media (min-width: 768px) {
        padding: 273px 34px 130px 213px;
    }
    @media (min-width: 1200px) {
        padding-top: 491px;
        padding-left: 191px;
    }
}

.cards-bottom {
    color: #FFF;
    font-family: DynaPuff;
    font-weight: 700;
}

