.products-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.products-table th,
.products-table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.products-table .product-image {
  width: 50px;
  height: auto;
  vertical-align: middle;
}

.products-table .product-name {
  font-size: 18px;
  font-weight: bold;
}

.products-table .product-price {
  color: #333;
}

.products-table .product-color {
  color: #666;
}

.products-table .product-vendorCode {
  color: #666;
}

.products-table .btn-secondary {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.products-table .btn-secondary:hover {
  background-color: #0056b3;
}