.product-card {
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: rgb(255, 244, 226);
  padding: 15px;
  text-align: center;
  margin: 10px;
  width: 200px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  position: relative;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 10px;
}

.product-name {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-price {
  font-size: 23px;
}

.product-vendorCode {
  margin: 5px 0;
  font-size: 10px;
  font-weight: 700;
}