* {
    font-family: 'Cabin', sans-serif;
    cursor: default;
    text-decoration: none;
}

.headers {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
}

.body {
    margin-top: 140px;
    background: #EEEEEF;
}

.top-header {
    display: flex;
    justify-content: space-between;
    background-color: #6D91DC;
    color: #F8FDFE;
    font-family: Cabin;
    font-size: 24px;
    font-weight: 700;
    padding: 16px 52px;
}

.top-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #F8FDFE;
    font-family: Rochester;
    font-size: 28px;
    font-weight: 400;
}

.cart {
    display: flex;
    align-items: center;
    gap: 8px;

}

.cart button {
    outline: none;
    border: 0;
    background: transparent;
}


.cart img {
    position: relative;
}

.cart-number {
    color: white;
    font-family: Cabin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px;
    position: absolute;
    right: 71px;
    top: 35px;
}

.sub-header {
    display: flex;
    justify-content: space-between;
    padding: 4px 52px;
    color: #000;
    background-color: white;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.navigation-menu ul {
    display: flex;
    gap: 40px;
}


.title {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #A8A8A8;
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-left: 52px;
    margin-right: 52px;
    margin-top: 30px;
    margin-bottom: 23px;
    padding-bottom: 23px;
    position: relative;
    margin-bottom: 40px;
}


.main-part {
    padding-top: 140px;
    background: #EEEEEF;
}

.forms {
    display: flex;
}

.form-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.left-part-of-form {
    margin-left: 162px;
    margin-top: 0px;
    margin-bottom: 115px;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.input-container label {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}


.input-container input {
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    display: flex;
    min-width: 416px;
    padding: 10px;
    align-items: flex-start;
    margin-top: 8px;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input-container input::placeholder {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input-container input:focus {
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    outline: none;
}



.bigger-area {
    min-width: 416px;
    min-height: 104px;
    display: flex;
    background: #F5F5F5;
    resize: none;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 10px;
    align-items: flex-start;
    margin-top: 8px;
    margin-bottom: 32px;
    box-sizing: border-box;
}

.bigger-area:focus {
    border: 1.5px solid #2080F6;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
    outline: none;
}

.important-label {
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.bigger-container {
    margin-top: 32px;
}

.date-of-delivery {
    display: flex;
    align-items: center;
    margin-bottom: 32px;
}

.date-of-delivery label {
    margin-right: 19px;

}

.date-of-delivery input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 2px 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    width: 120px;
    background-color: #F5F5F5;
}

.radio-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comment-for-important-label {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.radio-answer {
    display: flex;
    margin-bottom: 16px;
}

.comment-for-important-label {
    margin-top: 3px;
    margin-bottom: 24px;
}

.second-importanl-label {
    margin-top: 32px;
    margin-bottom: 24px;
}

.right-part-of-form {
    background-color: white;
    display: inline-flex;
    padding: 40px;
    margin-left: 120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 4px;
    height: 400px;
}

.order-result {
    display: flex;
    flex-direction: column;
}

.name-of-dish {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.counter {
    display: flex;
    padding: 4px 8px;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    display: inline-block;
    width: 27px;
    height: 18px;
}

.pre-result {
    display: flex;
    justify-content: space-between;
    padding-bottom: 38px;
}

.pre-result img {
    background: white;
    margin-top: 32px;
}

.name-amount-counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 192px;
    justify-content: flex-end;
}

.price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.pre-price {
    margin-top: 30px;
}

.name-of-dish {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #A8A8A8;
}

.total-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid;
    border-top-width: 1px;
    border-color: #A8A8A8;
    margin-top: 8px;
    margin-bottom: 32px;
}

.submit-button {
    color: var(--white, #F8FDFE);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    border-style: solid;
    background: #3D76BA;
    display: flex;
    width: 215px;
    margin-right: 16px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-color: #3D76BA;
}

.reset-button {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    border-style: solid;
    border-color: #DEDEDE;
    background: #DEDEDE;
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    margin-top: 16px;
}

.footer-info {
    width: 100%;
    height: 88px;
    font-family: Cabin;
    flex-shrink: 0;
    background-color: #6D91DC;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 52px; 
    box-sizing: border-box;
}

.footer-info span {
    color: white;
}