.footer {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px;
    background-color: bisque;
    align-items: center;
}

.footerImg{
    width: 4%;
}

.footerText{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}