.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(249, 221, 180);
    color: rgb(170, 91, 8);
    width: 1500px;
    position: relative;
}

.header__logo {
    height: 8%;
    width: 8%;
}

.header__btns {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    list-style-type: none;
}

.header__btns a {
    text-decoration: none;
    color: rgb(170, 91, 8);
}

.header__menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.search {
    width: 250px;
    padding: 10px 15px;
    border: 3px solid #aaa;
    border-radius: 25px 0 0 25px;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s;
}

.search-button {
    padding: 10px 15px;
    border: 1px solid #aaa;
    border-left: none;
    border-radius: 0 25px 25px 0;
    background-color: #ff8800;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

.search:focus {
    border-color: #ff8800;
}

.search-button:hover {
    background-color: #ff6700;
}

.searchCont{
    display: flex;
    align-items: center;
    justify-content: start;
}

.header__cart{
    width: 3%;
    height: auto;
}

.cart__counter{
   position: absolute;
   top: 2px;
   right: 160px;
   color: rgb(0, 121, 14);
   font-size: 17px;
}

.favorite{
    width: 2.5%;
    height: auto;
}

.favorite__counter{
    position: absolute;
    top: 2px;
    right: 29px;
    color: rgb(172, 0, 0);
    font-size: 17px;
}