.submitBtn{
    background-color: #8A33FD;
    padding: 10px 30px;
    border: none;
    border-radius: 7px;
    color: white;
     font-family: "Roboto", sans-serif;
     font-weight: 500;
  }
  
  .submitBtn:hover {
    background-color: #7513f6;
  }