* {
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    color: #1A1B1B;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#burger {
    padding: 18px 16px;
    background: #006CE5;
}

.navigation-menu {
    display: none;
}

.live {
    color: #ED0E05;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    font-family: Urbanist;
    margin-right: 8px;
}

.live-container {
    display: flex;
    align-items: center;
    gap: 8px;
    border-left: 1px solid #D4D4D4;
    padding-left: 8px;
}

.images-container {
    display: flex;
    align-items: center;
    gap: 24px;
}


@media (min-width:376px) {

    .live {
        margin-right: 12px;
    }
}

@media (min-width:769px) {

    #burger {
        display: none;
    }

    .navigation-menu {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        text-align: center;
        font-family: Urbanist;
        font-size: 16px;
        font-weight: 600;
        list-style-type: none;
    }

    .header-container {
        margin: 14px 36px;
    }
}

.title {

    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    line-height: 110%;
    margin-left: 8px;
    border-bottom: 1px solid #D4D4D4;
    padding-bottom: 8px;
}

.comment-for-title {
    font-size: 17px;
    font-weight: 400;
    line-height: 125%;
    margin-top: 45px;
    margin-left: 8px;
}

.main-news-container {
    display: flex;
    flex-direction: column;
    margin: 40px 8px;
    position: relative;
    margin-left: 8px;

}

.comment-to-main-news {
    font-size: 24px;
    font-weight: 800;
    line-height: 110%;
    margin-top: 16px;
    margin-bottom: 32px;
}

.smaller-main-news-container {
    display: flex;
    flex-direction: column;
}

.secondary-news-containers {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    border-bottom: 1px solid #D4D4D4;
    position: relative;

}

.comment-to-secondary-news {
    color: #1A1B1B;
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    padding-bottom: 24px;
    margin-left: 3px;
}

.country {
    text-transform: uppercase;
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    background-color: white;
    box-sizing: border-box;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 4px;
}

.main-news-country {
    position: absolute;
    top: 385px;
    left: 0;
}

.text-for-photo {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

#first-play-button {
    position: absolute;
    top: 75px;
    left: 180px;
    width: 32px;
    height: 32px;
}

@media (min-width:376px) {

    .secondary-news-containers {
        display: flex;
        flex-direction: row;
        padding-bottom: 16px;
        gap: 24px;
    }
    #first-play-button {
        top: 75px;
        left: 178px;
    }
}

@media (min-width:769px) {

    .main-news-container {
        flex-direction: row;
        gap: 24px;
        border-bottom: 1px solid #D4D4D4;
        padding-bottom: 50px;
    }

    #first-play-button {
        top: 73px;
        left: 175px;
    }
}
    .secondary-news {
        flex-direction: column;
        display: inline-flex;
    }

    .secondary-news-containers {
        margin-top: 0px;
        margin-bottom: 24px;
    }

    .secondary-news-containers img {
        width: 213px;
        height: 120px;
        flex-shrink: 0;

    }

    .no-border-container {
        border-bottom: none;
    }


.text-for-more-news {
    font-size: 34px;
    font-weight: 800;
    line-height: 110%;
    margin-bottom: 32px;
    margin-left: 8px;
}

.more-news {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}

.chapter {
    color: #0B3462;
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

.title-of-news {
    font-size: 18px;
    font-weight: 700;
    line-height: 120%;
    margin-top: 8px;
    margin-bottom: 5px;
}

.sence-of-news {
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.date {
    font-size: 14px;
    font-weight: 200;
    line-height: 120%;
    margin-bottom: 40px;
}

.third-news-text {
    display: flex;
    flex-direction: column;
}

.more-news img {
    margin-bottom: 12px;
}

.play-button-class{
    position: relative;
}

#second-play-button {
    position: absolute;
    top: 127px;
    left: 320px;
    width: 32px;
    height: 32px;
}

@media (min-width:376px) {

    .third-news-container {
        display: flex;
        gap: 24px;
        margin-bottom: 40px;
    }

    .third-news-text {
        display: flex;
        flex-direction: column;
    }
    #second-play-button {
        top: 152px;
    }
}

@media (min-width:769px) {
    .more-news {
        margin-left: 500px;
        position: relative;
    }

    .text-for-more-news {
        position: absolute;
    }

    #second-play-button {
        top: 130px;
    }
}

.pages-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.number-button {
    border-radius: 500px;
    border: 1px solid #D4D4D4;
    background: white;
    width: 37px;
    height: 37px;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
}

.blue-number-button {
    color: #006CE5;
}

.text-button-small {
    color: #006CE5;
    border: none;
    background-color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    line-height: 120%;
}

.text-button-big {
    display: none;

}


@media (min-width:376px) {

    .text-button-big {
        display: block;
        color: #006CE5;
        border: none;
        background-color: white;
        text-align: center;
        font-size: 14px;
        font-weight: 800;
        line-height: 120%;
        text-transform: uppercase;
    }

    .text-button-small {
        display: none;

    }
}

.search {
    display: flex;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
    padding-top: 47px;
    margin-bottom: 32px;
    box-sizing: border-box;

}


.search-label {
    background: #006CE5;
    width: 17px;
    height: 17px;
    padding: 10px;

}

.search-place {
    background: #DCE4E7;
    width: 270px;
    padding-left: 0px;
    align-items: center;
    border: none;
    height: 37px;
    text-decoration: transparent;
    color: #919191;
}

.search input {
    padding: 0 20px;
}

.tagline {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.tips {
    display: flex;
    margin-top: 16px;
    margin-bottom: 52px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.tips span {
    border-radius: 800px;
    background: #FFF;
    padding: 8px 16px;
    color: #1A1B1B;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%;

}

.search-menu {
    background: #EEF2F3;
    padding-bottom: 45px;
}

@media (min-width:376px) {

    .tips {
        width: 550px;
        justify-content: space-around;

    }

    .search-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

}

.footer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-left: 91px;
    margin-top: 32px;
    margin-right: 91px;
    margin-bottom: 24px;
}

.footer-span {
    color: #1A1B1B;
    text-align: center;
    font-family: Urbanist;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

@media (min-width:376px) {

    .footer {
        gap: 24px;
        margin-bottom: 48px;
    }

}

