.modal {
  width: 560px;
  height: 100%;
  background-color: white;
  border-radius: 16px;
  border: 1px solid grey;
  position: relative;
  z-index: 20;
}

.modalFlexCont {
  display: flex;
  gap: 20px;
}