.card__btn {
    color: var(--white, #F8FDFE);
    text-align: center;
    font-family: Cabin;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    border-radius: 4px;
    background: var(--eggplant, #4C394E);
    border: none;
    display: flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    z-index: 50;
    &--end-up {
        background: #4D762D;
    }

}

.chat-icon--fixed {
    position: fixed;
    outline: none;
    border: 0;
    background: transparent;
    top: 600px;
    right: 40px;
    z-index: 100;
}