.card__chips {
 position: absolute;

}

.card-chips {
    padding: 4px 8px;
    gap: 10px;
    border-radius: 4px;
    background: #4200FF;
    color: #F8FDFE;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: auto;

    &--new {
        background: #AF39E7;
        z-index: 90;
    }

}

.card__chips {
      &--sale-chips {
        background-color: #EA33C0;
        margin-left: 40px;
    }
}

.card__chips-sale-chips {

        &--bigger-margin {
            margin-left: 50px;
        }

        &--smaller-margin {
            margin-left: 0px;
        }
    }

