.page-body-cards {
    width: 1392px;
    background: #EEEEEF;
    box-sizing: border-box;
    padding-left: 32px;

}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.card {
    box-sizing: border-box;
    background: white;
    display: inline-flex;
    flex-direction: column;
    padding: 32px;
    border: 1px solid #A8A8A8;
    background: white;
    margin-left: 18px;
    margin-bottom: 32px;
}

.card__book-picture {
    width: 178px;
    height: 280px;
    box-sizing: border-box;
    margin-left: 32px;
    margin-bottom: 16px;
}