.page-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4C394E;
    color: var(--white, #F8FDFE);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    height: 88px;
    box-sizing: border-box;
    width: 1392px;
}

.page_footer {
    padding: 52px;
}