.header {
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 1400px;
    z-index: 100;
}

.header-topheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 16px 52px;
    height: 72px;
}

.header__topheader {
    background-color: #10BBD5;
    color: white;
    font-size: 24px;
}

.header-topheader__logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header__cart {
    display: flex;
    align-items: center;
    gap: 8px;
}
.header-cart__bth {
    position: relative;
    outline: none;
    border: 0;
    background: transparent;
}
.header-cart__cart-number {
    color: black;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    position: absolute;
    right: 71px;
    top: 15px;
}
.header-cart__total-price--smaller-font {
    font-size: 16px;
}
