.card__text-book-name {
    overflow: hidden;
    color: var(--black, #1F1F1F);
    text-overflow: ellipsis;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    width: 242px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #A8A8A8;
}