.card__text-book-name {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    display: flex;
    width: 242px;
    height: 31px;
    flex-direction: column;
    justify-content: center;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #A8A8A8;

    &--hidden {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.card__text-author-name {
    display: flex;
    width: 241px;
    height: 24px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--gray, #8E8E8E);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.card-sale__text-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 16px;

    &--old {
        color: var(--gray, #8E8E8E);
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        text-decoration-line: line-through;
        margin-left: 24px;
    }
}

.card__text-price {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 16px;
}

.card__sale {
    margin-bottom: 16px;
}