.header__subheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    width: 1400px;
    height: 32px;
    box-sizing: border-box;
    padding: 4px 52px;
    background-color: white;
}

.header-subheader {
    position: fixed;
    left: 0;
    top: 72;
}