.page-body__title {
    margin-left: 13px;
    margin-right: 52px;
    padding-top: 110px;
    position: relative;
    padding-bottom: 23px;
}

.page-body-title {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-color: #A8A8A8;
    color: #1F1F1F;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    max-width: 1300px;
}