.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.button {
    width: 250px;
    height: 50px;
    border-radius: 30px;
    background-color: yellowgreen;
    border: 2px solid blue;
    margin-bottom: 30px;
}

.text {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}