.cartContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-bottom: 90px;
}

.go-to-order {
    position: fixed;
    top: 100px;
    left: 10px;
    opacity: 0.8;
}