.products-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 150px;
  }
  
  .title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 56px;
    font-weight: 500;
    margin: 60px;
  }