.footer {
    display: inline-flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 40px;
    background-color: bisque;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 1520px;
    height: 50px;
}

.footerImg{
    width: 4%;
}

.footerText{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}