* {
    margin: 0px;
    padding: 0px;
    font-family: 'Cabin', sans-serif;
    font-family: 'Inter', sans-serif;
    cursor: default;
}

.header {
    display: flex;
    margin: 52px 40px;
    justify-content: space-between;
    align-items: center;
    font-family: cabin;
    height: 49px;
}

.header-logo-container {
    display: flex;
    gap: 18px;
    align-items: center;
}

.header-logo-container img {
    width: 40px;
    height: 40px;
}

.header-navigation-menu ul {
    display: flex;
    gap: 56px;
    align-items: center;
}

.header-navigation-menu a {
    color: black;
    font-size: 28px;
    text-decoration: none;
}

.header-navigation-menu a .active {
    color: #425DF8;
    /*кнопка не змінює колір, не знаю чому :((((------------------*/
}

.header-buttons {
    display: flex;
}

.header-button-white {
    margin-right: 24px;
    color: #0E0F13;
    background-color: white;
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #DADADA;
}

.header-button-blue {
    margin-right: 24px;
    color: white;
    background-color: #425DF8;
    text-align: center;
    font-family: Cabin;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    padding: 18px 22px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #DADADA;
}


.center {
    display: flex;
    justify-content: center;
    color: #0E0F13;
    font-size: 64px;
    font-weight: 500;
    margin-bottom: 24px;
    margin-top: 160px;
}

.comment-to-plans {
    display: flex;
    justify-content: center;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 120px;
}

.left-card {
    box-sizing: border-box;
    border-radius: 24px;
    border: 1px solid #DADADA;
    background: #FDFDFD;
    width: 416px;
    height: 789px;
    padding: 56px;
    margin-left: 52px;
}

.top-of-the-left-card {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 27px;
}

.comment-top-of-the-left-card {
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    width: 304px;
    display: flex;
    padding-bottom: 27px;
    color: #7F828A;
    text-align: center;
}

.price-and-time {
    display: flex;
    align-items: center;
    padding-left: 65px;
}

.price {
    font-size: 64px;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -2.56px;
    margin-right: 16px;
}

.unit-of-time {
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 100%;
}

.list-of-plans {
    padding-top: 27px;
    color: #7F828A;
    font-size: 22px;
    font-weight: 400;
    line-height: 125%;
    text-transform: capitalize;
}

.advantages {
    padding-bottom: 16px;
}

.button {
    display: flex;
    padding: 18px 22px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.72px;
    text-decoration: none;
}

.case-for-button {
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

.all-cards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.middle-card {
    background-color: #161A34;
    color: #F6FDFF;
}

.middle-button {
    margin-top: 64px;
}

.right-card-price {
    padding-left: 50px;
}

.img-checkbox {
    padding-left: 16px;
}

.central-card {
    box-sizing: border-box;
    border-radius: 24px;
    background-color: #161A34;
    color: #F6FDFF;
    width: 416px;
    height: 817px;
    padding: 56px;
    margin-left: 52px;
}

.bottom-line {
    margin-top: 200px;
}

.header-logo-container-down {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-between
}

.bottom-picture {
    width: 24px;
    height: 24px;
    padding-left: 35px;
    padding-right: 10px;
}

.logo-and-text {
    display: flex;
    justify-content: left;
    align-items: center;
}

.footer-data {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 16px;
    color: #7F828A;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
}

#ARR {
    padding-right: 30px;

}

#transfer {
    padding-left: 30px;
}