.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    position: fixed;
    top: 140px;
    left: 540px;
    width: 400px;
  }
  
  
  
  .form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  
  button:hover {
    background-color: #0056b3;
  }
  