.modal-body {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.card__h2 {
    font-size: 30px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
}

.card__span {
    color: #7F7F7F;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}